*{
  box-sizing: border-box; 
}
/* body {
	margin: 80px auto !important;
    display: flex;
    justify-content: center;
} */
.fw-500 {
	font-weight: 500;
}
.fw-700 {
	font-weight: 700;
}
a {
	color: #2d7cbb !important;
}
.ez-card {
    background: white;
    padding: 20px;
    /* width: 350px; */
    height: 100%;
	/* border: 1px solid #eee; */
    border-radius: 2px;
    color: #4c4c4c;
}
ul.zend-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
	margin-bottom: 5px;
}
.zend-display-block {
	/* padding: 1rem 0rem; */
}
.zend-display-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.zend-display-wrap p {
	margin-bottom: 0px;
}
.zend-display-wrap span {
    margin-left: 5px;
    display: block;
}
ul.listing-style li {
    position: relative;
	padding-left: 15px;
}
ul.listing-style li:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    background: #87929d;
    border-radius: 20px;
    transform: translateY(-50%);
}
ul.listing-style li p {
	color: #87929d;
}
.ez-card-block .card {
    border-top: 1px solid #eee;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}
.ez-card-block .card-header {
	padding: 0px;
	border-bottom: 0px;
}
.ez-card-block .card-header button.btn {
    padding: 5px 0px;
	background: #fff;
	border-radius: 0px;
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
	color: #2d7cbb;
    font-weight: 700;
}

a:hover{
    text-decoration: none !important;  
}
.ez-card-block .card-header .btn:focus {
	box-shadow: none;
}
.ez-card-block .card-body {
	padding: 0rem 0rem 1rem;
}
button.btn.btn-link.btn-block.text-left.collapsed:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    content: "";
    color: #fff;
	transition: transform .2s ease-in-out;
}
button.btn.btn-link.btn-block.text-left:not(.collapsed):after{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(-180deg);
	position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    content: "";
    color: #fff;
	transition: transform .2s ease-in-out;
}

/* inbuilt accordion css */
.ez-card-block .accordion__button {
    background-color: #fff;
    cursor: pointer;
    padding: 8px 0px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.ez-card-block .accordion__button a:hover {
    text-decoration: none;
}
.ez-card-block .accordion {
    border: 0px;
    border-radius: 0px;
}
.ez-card-block .accordion__button:before {
    right: 20px;
    position: absolute;
    transition: .2s all ease-in-out;
    transform: rotate(45deg);
}
.ez-card-block .accordion__button[aria-expanded='true']::before {
    transform: rotate(225deg);
}
.ez-card-block .accordion__button:hover {
    background-color: #fff;
}
.ez-card-block .accordion__item + .accordion__item {
    border-top: 0px;
}
.ez-card-block .accordion__panel {
    padding: 15px 0px 0px;
}
.nextui-c-iYCoJE.nextui-c-iYCoJE-fpxebX-hideArrow-false.nextui-tooltip.nextui-tooltip--with-arrow {
    width: auto !important;
    min-width: 90px !important;
}
.nextui-c-cFCyVg-ijKAwdG-css.nextui-tooltip-wrapper-enter-active{
    top:30px !important;
}
.nextui-c-kRHeuF-ieRtXSm-css{padding: 0!important;}
li.mr-rit-20px {
    margin-right: 40px !important;
}
.mr-rit-10p{margin-right: 10px;}

ul.user-paralled-info li{
    color: #9f9d9d;
}

ul.user-paralled-info li small{
    font-weight: 500;
}
.pad5x0{padding: 5px 0 !important;}
.color-gray{ color: #4c4c4c !important;}
.cursor-d{cursor: default !important;}
.cursor-p{cursor: pointer !important;}
.brder-top-custom{border-top:1px solid #ddd !important}
.mt-10px{margin-top: 10px;}
.interactions h5{
    border-bottom: 1px solid rgb(221, 221, 221);
      padding-bottom: 10px; 
  }
  .ml-10 {
    margin-left:10px;
  }

ul.interations-info-listing {
    display: block;
}